// nav & footer

.outline_btn {
    @include btn-border-drawing(
        var(--nav_color),
        var(--nav_accent),
        2px,
        bottom,
        right
    );
    padding: 0.7em 0.8em;
    font-size: 0.9rem;
}

.outline_btn_dark {
    @include btn-border-drawing($pri-light, $pri-dark, 2px, bottom, right);
    padding: 0.7em 0.8em;
    font-size: 0.9rem;
}

.underline_btn {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: -0.5em;
        left: 25%;

        background-color: var(--nav_accent);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
}

// movie

.rounded_btn {
    border: 1.5px var(--movie) solid;
    color: var(--movie);
    border-radius: 10px;
    padding: 0.6em 0.8em;
    margin-top: 0.5em;
    font-size: 0.6rem;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        filter: hue-rotate(-20deg) brightness(3);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    }
}

// details
.basic_btn {
    font-family: "Montserrat", sans-serif;
    padding: 0.5em 0.5em;
}
