// nav & footer

.outline_btn {
    @include btn-border-drawing(
        var(--nav_color),
        var(--nav_accent),
        2px,
        bottom,
        right
    );
    padding: 0.7em 0.8em;
    font-size: 0.9rem;
}

.outline_btn_dark {
    @include btn-border-drawing($pri-light, $pri-dark, 2px, bottom, right);
    padding: 0.7em 0.8em;
    font-size: 0.9rem;
}

.underline_btn {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: -0.5em;
        left: 25%;

        background-color: var(--nav_accent);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
}

// movie

.rounded_btn {
    border: 1.5px var(--theme) solid;
    color: var(--theme);
    border-radius: 10px;
    padding: 0.6em 0.8em;
    margin-top: 0.5em;
    font-size: 0.6rem;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05) translateY(2px);
        filter: hue-rotate(-10deg) brightness(1.3);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    }
}

// details

.basic_btn_dark,
.basic_btn_light {
    padding: 0.8em 0 1em;
    width: 100%;
    border-radius: 5px;
    border: $pri-dark 1.5px solid;

    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    box-shadow: rgba(53, 29, 29, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    span {
        display: inline-block;
        transition: all 0.2s ease-out;
    }

    @include for-tablet-portrait-up {
        font-size: 0.95rem;
        width: 15em;
    }

    @include for-desktop-up {
        font-size: 1rem;
    }

    &:hover {
        filter: brightness(1.2);
        span {
            transform: rotate(15deg) scale(1.2) translateX(1px) translateY(-1px);
        }
    }
}

.basic_btn_light {
    background: white;
    color: $pri-dark;
}

.basic_btn_dark {
    background: $pri-dark;
    color: white;
}

// Quiz

.btn-3d {
    color: white;
    background: black;
    font-weight: 300;
    font-size: 1.1rem;

    height: 3em;
    width: 80%;
    max-width: 400px;
    line-height: 2.4em;
    border-radius: 50px;
    padding: 0 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(1.05);
        transform: translateY(-2px) scale(1.05);
    }
}

.quit_btn {
    border: none;
    background: white;
    color: $pri-dark;
    border-radius: 10px;
    padding: 0.3em 0.8em 0.4em;
    box-shadow: 0 3px rgba($color: black, $alpha: 0.2);
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        filter: brightness(0.98);
    }

    &:active {
        transform: translateY(1.5px); //pushes button down
        filter: brightness(97%); //makes the button darker
    }
}

.option_btn {
    border: none;
    background: var(--quiz_acc);
    box-shadow: 0 5px rgba($color: black, $alpha: 0.2),
        0 6px 10px var(--quiz_light);

    color: $pri-dark;
    font-weight: 600;
    padding: 1em 3em;
    width: 100%;
    border-radius: 10px;

    @include for-tablet-portrait-up {
        padding: 0.5em;
    }

    &:active {
        transform: translateY(1.5px);
        filter: brightness(97%);
    }
}
