footer {
    background-color: $pri-dark;
    margin-top: 1em;
}
footer .container {
    display: flex;
    flex-direction: column;

    gap: 2em;
    padding: 2.5em 0;
    position: relative;

    a {
        color: white;
    }

    .outline_btn {
        border-radius: 10px;
        border: 2px solid white;
        order: 1;
    }

    .up {
        background: none;
        color: $pri-dark;
        border: none;
        cursor: pointer;

        display: flex;
        gap: 1em;
        align-items: center;
        align-self: flex-end;

        position: absolute;
        top: -3em;

        span {
            border: $pri-dark 1.5px solid;
            color: $pri-dark;
            border-radius: 50%;

            display: block;
            padding: 0;
            height: 1.6em;
            width: 1.65em;
        }

        &:hover {
            color: var(--nav-accent);
            span {
                border: var(--nav-accent) 1.5px solid;
                color: var(--nav-accent);
            }
        }

        display: none; // Only display on the all-movies page
    }
}

@include for-small-tablet-portrait-up {
    footer {
        background: none;
    }

    footer .container {
        padding: 1.5em 0;
        background: none;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            color: var(--nav_color);
        }

        .outline_btn {
            border-radius: 0;
            border: none;
            order: 0;
        }
    }
}
