body,
button {
    font-family: "Montserrat", sans-serif;
    @include for-tablet-portrait-up {
        font-size: 17px;
    }
    @include for-tablet-landscape-up {
        // font-size: 20px;
    }
    @include for-desktop-up {
        font-size: 18px;
    }
}

h1 {
    font-family: "Londrina Outline", cursive;
    color: white;
    font-size: 3.8rem;
    text-transform: uppercase;
    margin: 0;
    height: fit-content;

    @include for-small-tablet-portrait-up {
        font-size: 4.7rem;
    }

    @include for-tablet-portrait-up {
        font-size: 6rem;
    }
    @include for-tablet-landscape-up {
        font-size: 7rem;
    }
    @include for-desktop-up {
        font-size: 9rem;
    }
}

h2 {
    color: white;
    font-family: "Londrina Solid", cursive;
    font-size: 2.5rem;
    text-decoration: underline;
    letter-spacing: 2px;
    z-index: 1;

    @include for-tablet-portrait-up {
        font-size: 3rem;
    }
    @include for-tablet-landscape-up {
        font-size: 4rem;
    }
    @include for-desktop-up {
        // font-size: 10rem;
    }
}

h3 {
    color: var(--theme);
    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1px;

    @include for-tablet-portrait-up {
        font-size: 1.15rem;
    }
    @include for-tablet-landscape-up {
        font-size: 1.2rem;
    }
}

h4 {
    color: white;
    font-family: "Londrina Solid", cursive;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 1.2rem;

    @include for-small-tablet-portrait-up {
        font-size: 1.4rem;
    }

    @include for-tablet-portrait-up {
        // font-size: 5.5rem;
    }
    @include for-tablet-landscape-up {
        // font-size: 7.5rem;
    }
    @include for-desktop-up {
        font-size: 1.7rem;
    }
}

p {
    color: $pri-dark;
    font-weight: 600;
    line-height: 1.5;
    font-size: 0.9rem;

    @include for-tablet-portrait-up {
        font-size: 1.1rem;
    }
    @include for-desktop-up {
        font-size: 1.2rem;
    }
}

a {
    font-size: 1rem;
}

// Details Page

.movie-title {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;

    @include for-tablet-portrait-up {
        font-size: 2.4rem;
    }
    @include for-desktop-up {
        font-size: 2.8rem;
    }
}

.jap-title {
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0;

    @include for-tablet-portrait-up {
        font-size: 1.3rem;
    }
    @include for-desktop-up {
        font-size: 1.6rem;
    }
}

.year {
    font-weight: 400;
    font-size: 1.1rem;
    padding-bottom: 1.5em;

    @include for-tablet-portrait-up {
        font-size: 1.2rem;
    }
    @include for-desktop-up {
        font-size: 1.5rem;
    }
}

.staff {
    font-weight: 400;

    @include for-desktop-up {
        font-size: 1.2rem;
    }

    span {
        font-weight: 600;
        font-size: 1.1rem;

        @include for-tablet-portrait-up {
            font-size: 1.2rem;
        }

        @include for-desktop-up {
            font-size: 1.4rem;
        }
    }
}

// watch list
.list-title {
    font-family: "Londrina Solid", cursive;
    font-size: 2.5rem;
    color: $light-green;

    span {
        font-family: "Londrina Outline", cursive;
    }
}

//Quiz

.quiz_title {
    color: var(--quiz_dark);
    font-family: "Londrina Solid", cursive;
    text-transform: capitalize;
    font-size: 3rem;

    @include for-tablet-landscape-up {
        font-size: 3.4rem;
    }
}

.stat_txt {
    font-family: "Londrina Solid", cursive;
    color: $pri-dark;
    font-size: 2.5rem;

    span {
        font-family: "Londrina Outline", cursive;
        font-size: 1.8rem;
    }
}

.score_txt {
    font-size: 1.8rem;

    @include for-tablet-landscape-up {
        font-size: 2rem;
    }
}
