.all-movies {
    background: $light-blue;
    position: relative;

    footer .container .up {
        display: flex;

        @include for-tablet-portrait-up {
            display: none;
        }
    }
}

.movies_list {
    padding: 3em 0 3em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 1.5em;
    row-gap: 1.8em;
    justify-items: center;
    align-items: center;

    @include for-desktop-up {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        column-gap: 1.7em;
        row-gap: 2em;
        padding: 2em 0 2em;
    }
}

.movie {
    background: var(--bg);

    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;

    display: grid;
    grid-template-columns: auto 1fr;
    width: 15.5em;
    height: 9.9em;
    border-radius: 15px;
    position: relative;
    margin-left: 0.5em;

    p {
        color: var(--theme);
        font-size: 0.8rem;
        font-weight: 400;
    }

    .poster {
        width: 7em;
        height: 9.9em;
        border-radius: 15px;
        z-index: 2;
    }

    .text {
        padding: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2em;
    }

    &::after {
        content: "";
        position: absolute;
        width: 15.5em;
        height: 10em;
        border: 2px solid var(--theme);
        border-radius: 15px;
        bottom: 0.4em;
        right: 0.5em;
    }
}

.bushes {
    display: none;

    @include for-tablet-portrait-up {
        position: absolute;
        bottom: 11vh;
        right: -7em;
        display: flex;
        width: calc(100vw + 10em);
        justify-content: space-between;
        z-index: 2;

        .bush1 {
            width: 12em;
            height: fit-content;
            align-self: flex-end;
        }
        .bush2 {
            width: 17em;
        }
    }
}
