.movie-details {
    background: rgb(251, 255, 255);
}

.details-wrapper {
    padding: 4em 0 1em;

    @include for-desktop-up {
        padding: 1.7em 0 1em;
    }

    .loader {
        margin-bottom: 0;
    }
}

.details_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    animation-name: animatebottom;
    animation-duration: 1s;
}

.poster_wrapper {
    position: relative;
    .poster {
        position: relative;
        width: 15em;
        aspect-ratio: 15/22;
        max-width: 260px;
        z-index: 2;
        border: 3px white solid;
        background: white;
        border-radius: 8px;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 15em;
        aspect-ratio: 15/22;
        max-width: 260px;
        border-radius: 8px;
    }

    &::before {
        border: 3px $yellow solid;
        left: -0.8em;
        bottom: 0.8em;
    }

    &::after {
        background: $pri-dark;
        right: -0.8em;
        top: 0.8em;
    }
}

.content {
    padding: 3em 0;

    .buttons {
        padding: 1.5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.8em;
    }
}

.description {
    padding: 1.8em;
    background: $light-yellow;
    color: $pri-dark;
    position: relative;
    line-height: 1.2;
    border-radius: 10px;

    animation-name: animatebottom;
    animation-duration: 1s;

    .kodama {
        display: none;
    }
}

.none {
    display: none;
}

@include for-small-tablet-portrait-up {
    .description {
        padding: 2.5em;

        .kodama {
            position: absolute;
            display: block;
            width: 3.5em;
            left: -1.5em;
            bottom: -1em;
        }
    }
}

@include for-tablet-portrait-up {
    .content .buttons {
        flex-direction: row;
    }
}

@include for-tablet-landscape-up {
    .details_wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5em;
    }

    .poster_wrapper {
        margin-left: 0.6em;
    }

    .description {
        padding: 3em;
        margin-top: 3em;
        line-height: 1.5;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background: $pri-dark;

            width: 8px;
            height: 4.5em;
        }

        &::before {
            right: 0;
            top: -1.5em;
        }

        &::after {
            right: 0.8em;
            top: 0;
        }
    }
}

.move_on {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

@include for-desktop-up {
    .wrapper {
        padding: 1em 0;
    }
}

.hidden {
    display: none;
}
