.home {
    background: #2f789b;
    font-family: "Montserrat", sans-serif;
    background-image: url("../../images/home_bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position-y: bottom 15%;

    @include for-tablet-portrait-up {
        background-position-y: bottom;
    }

    @include for-tablet-landscape-up {
        background-size: auto 45%;
    }
    @include for-desktop-up {
        background-size: auto 50%;
    }
}

/* ==================
    HERO SECTION
====================*/

.hero {
    display: flex;
    gap: 0.5em;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-left: 0.5em;

    margin-top: 4em;
    position: relative;

    .hero_img {
        width: 50%;
        max-width: 230px;
        animation: grow 1s ease-in-out 1, sway 14s linear infinite 1s;

        img {
            position: relative;
            z-index: 2;
        }

        &::after {
            position: absolute;
            content: "";
            background: $light-yellow;

            height: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            left: -1em;
        }
    }
    .title {
        position: relative;
        z-index: 3;
        animation: flyin_right 1s ease-in-out 1;
    }

    @include for-tablet-landscape-up {
        margin: 0 auto;
        margin-top: 6em;
        .hero_img {
            width: 100%;
            margin: 0 auto;
        }
        .title {
            position: absolute;
            display: flex;
            justify-content: space-between;
            gap: 10em;

            width: fit-content;
            height: 80%;
            left: 50%;
            transform: translateX(-50%);
            animation: none;

            .studio_txt {
                animation: flyin_left 1s ease-in-out 1;
            }
            .ghibli_txt {
                align-self: flex-end;
                animation: flyin_right 1s ease-in-out 1;
            }
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes flyin_right {
    0% {
        transform: translateX(60vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes flyin_left {
    0% {
        transform: translateX(-60vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes sway {
    15% {
        transform: rotate(-3deg);
    }
    85% {
        transform: rotate(3deg);
    }
}

/* ==================
    INTRO SECTION
====================*/

.intro {
    padding: 10em 0;
    position: relative;

    @include for-tablet-portrait-up {
        margin-top: -10vw;
    }

    h4 {
        margin: 10vw 0em;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 6px;
            width: 30%;
            left: 35%;
            bottom: -1em;
            background: $light-blue;
        }

        @include for-tablet-portrait-up {
            margin: 16vw 14vw 8vw;
        }
    }

    .cloud {
        position: absolute;
        width: 70vw;
        max-width: 900px;
    }
    .cloud_one {
        left: 0;
        margin-left: -50%;
        margin-top: -7em;
        opacity: 0.75;
        animation: float_right 220s ease-in-out infinite;
    }
    .cloud_two {
        right: 0;
        margin-right: -50%;
        bottom: 3.5em;
        opacity: 0.6;
        transform: scale(0.8);
        animation: float_left 220s ease-in-out 8s infinite;
    }
    .kiki {
        position: absolute;
        height: calc(6em + 14vw);
        max-height: 300px;
        left: 0;
        margin-left: -20%;
        bottom: 0;
    }
}

@keyframes float_right {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(100vw) scale(0.8);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@keyframes float_left {
    0% {
        transform: translateX(0) scale(0.8);
    }
    50% {
        transform: translateX(-100vw) scale(0.9);
    }
    100% {
        transform: translateX(0) scale(0.8);
    }
}

/* ==================
    MAIN SECTION
====================*/

main {
    padding-bottom: 4em;
    position: relative;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        position: relative;
    }

    img {
        height: 2em;
        margin: 0 0.4em;
    }

    p {
        background: rgba($color: white, $alpha: 0.7);
        padding: 2em;
        margin: 1.2em 0 0.8em;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        @include for-tablet-portrait-up {
            padding: 3em;
        }
    }

    .about,
    .ghibli {
        padding-top: 2em;
    }

    .about header {
        h2 {
            margin-right: 2.6rem;
            @include yellow-circle(0, 1.6em);
        }
        img {
            animation: bouncing 0.8s ease-in-out infinite;
        }
    }

    .ghibli header {
        h2 {
            margin-left: 2.6rem;
            @include yellow-circle(1.5em, null);
        }
        img {
            animation: bouncing 0.8s ease-in-out 0.5s infinite;
        }
    }

    .scarecrow {
        display: none;
    }

    @include for-tablet-landscape-up {
        .about,
        .ghibli {
            display: flex;
            gap: 4em;
        }

        .ghibli {
            flex-direction: row-reverse;
        }

        .scarecrow {
            position: absolute;
            display: block;
            width: 6em;
            height: 18em;
            bottom: -2em;
            left: -3.5em;
        }
    }
}

@keyframes bouncing {
    0% {
        transform: translateY(0) scaleY(0.98);
    }
    15% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(-4px);
    }
    85% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0) scaleY(0.98);
    }
}
