.watch-list {
    background: linear-gradient($v-light-yellow 80%, $light-green 0%);
    position: relative;
}

/* center lists */
.watch-list-wrapper {
    max-width: 450px;
    margin: 0 auto;
}

.watch-list header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;

    img {
        width: 3em;
    }
}

.to-watch,
.watched {
    min-height: calc((100vh - 16em) / 2);
}

.to-watch {
    margin: 3em auto;
}

.watched {
    margin: 6em auto 1em;
    position: relative;
    z-index: 1;

    header {
        .list-title {
            color: $v-light-yellow;
        }
    }

    &::after {
        content: "";
        background: $light-green;
        position: absolute;
        height: 1000%;
        width: 200vw;
        left: -50vw;
        top: -2.5em;
        z-index: -2;
    }
}

.toters {
    display: none;
}

@include for-desktop-up {
    .watch-list {
        background: $v-light-yellow;
    }

    .watch-list-wrapper {
        max-width: 1200px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10em;
    }

    .to-watch,
    .watched {
        margin: 3.5em 0 4.5em;
        min-height: 5em;
    }

    .watched {
        position: relative;
        z-index: 1;

        &::after {
            height: 115%;
            width: 160%;
            top: -7%;
            left: -20%;
            border-radius: 20px;
        }
    }

    .watch-list header {
        flex-direction: row-reverse;
        margin-bottom: 0.5em;
    }

    // .to-watch header {
    //     margin-left: -5em;
    // }

    // .watched header {
    //     margin-right: -5em;
    // }

    .to-watch-list,
    .watched-list {
        z-index: 3;
    }

    .toters {
        position: absolute;
        display: block;
        width: 15em;
        bottom: 3.5em;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }
}

/* ==========================
  watchedItem & toWatchItems
=========================== */

.row {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-family: "Londrina Solid", cursive;

    p {
        font-weight: 300;
        font-size: 1.3rem;
    }

    div {
        display: flex;
        align-items: center;
    }

    .icon {
        cursor: pointer;
    }

    .watch_txt,
    .rewatch_txt {
        padding-left: 1.5em;
    }
}

.watchedItem p {
    color: white;
}

.cross {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.2);
        color: rgb(255, 103, 103);
    }
}

.tick {
    transition: all 0.3s ease-in;
    &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
    }
}

.rewatch {
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: rotate(300deg) scale(1.2) translateY(2px);
        color: $yellow;
    }
}
