.watch-list {
    background: linear-gradient($v-light-yellow 80%, $light-green 0%);
    position: relative;
}

/* center lists */
.watch-list-wrapper {
    max-width: 450px;
    margin: 0 auto;
}

.watch-list header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2.5em;

    img {
        width: 3em;
    }

    .drag {
        position: absolute;
        right: 0;
        top: 5.5em;
        font-size: 0.7em;
        z-index: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        animation: jiggle_fade 3s ease 0.4s forwards 1;

        @include for-tablet-portrait-up {
            top: 2.5em;
            font-size: 0.8rem;

            img {
                transform: rotate(-10deg);
                width: 4em;
                margin-left: -2em;
            }
        }
    }
}

@keyframes jiggle_fade {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    25% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    75% {
        transform: rotate(-8deg);
        opacity: 1;
    }
    100% {
        transform: rotate(0deg);
        opacity: 0;
    }
}

.to-watch,
.watched {
    min-height: calc((100vh - 16em) / 2);
}

.to-watch {
    margin: 3em auto;
}

.watched {
    margin: 6em auto 1em;
    position: relative;
    z-index: 1;

    header {
        .list-title {
            color: $v-light-yellow;
        }
    }

    &::after {
        content: "";
        background: $light-green;
        position: absolute;
        height: 1000%;
        width: 200vw;
        left: -50vw;
        top: -2.5em;
        z-index: -2;
    }
}

.toters {
    display: none;
}

.none_msg {
    padding: 1em;
}

@include for-desktop-up {
    .watch-list {
        background: $v-light-yellow;
    }

    .watch-list-wrapper {
        max-width: 1200px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10em;
    }

    .to-watch,
    .watched {
        margin: 3.5em 0 4.5em;
        min-height: 14.5em;
    }

    .watched {
        position: relative;
        z-index: 1;

        &::after {
            height: 120%;
            width: 160%;
            top: -7%;
            left: -20%;
            border-radius: 20px;
        }
    }

    .watch-list header {
        flex-direction: row-reverse;
        margin-bottom: 0.5em;
    }

    .to-watch-list,
    .watched-list {
        z-index: 3;
    }

    .toters {
        position: absolute;
        display: block;
        width: 15em;
        bottom: 3.5em;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }
}

/* ==========================
  watchedItem & toWatchItems
=========================== */

.row {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-family: "Londrina Solid", cursive;

    img {
        height: 1.1em;
        filter: drop-shadow(3px 3px 2px rgba(black, 0.1));
    }

    p {
        font-weight: 300;
        font-size: 1.3rem;
    }

    div {
        display: flex;
        align-items: center;
    }

    .icon {
        cursor: pointer;
    }

    .watch_txt,
    .rewatch_txt {
        padding-left: 1.5em;
    }
}

.watchedItem p {
    color: white;
}

.cross {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.2);
        p {
            color: rgb(255, 103, 103);
        }
    }
}

.tick {
    transition: all 0.2s ease-in;
    &:hover {
        transform: scale(1.1);
        filter: brightness(1.05);
    }
}

.rewatch {
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: rotate(250deg) scale(1.05) translateY(2px);
        filter: brightness(1.05);
    }
}
