$pri-light: #2f789b;
$pri-dark: #254d63;

$light-yellow: rgba(#ffefb8, 0.5);
$light-blue: rgba(#d3f1f8, 0.6);

$v-light-yellow: #fffcf2;
$light-green: #89b47b;

$yellow: #ffe385;

// css variables
.App {
    --nav_color: #254d63;
    --nav_accent: #a9ca56;
}

.home {
    --nav_color: white;
    --nav_accent: #ffe385;
}

.all-movies {
    --nav_color: #254d63;
    --nav_accent: #ffb773;
}

.movie-details {
    --nav_color: #254d63;
    --nav_accent: #ffe385;
}

.movie {
    --theme: #152c38;
    --bg: white;
}

.watch-list {
    --nav_color: #254d63;
    --nav_accent: #6c8d4c;
}

.quizzes {
    --nav_color: black;
    --nav_accent: salmon;
}

.quiz-start {
    --nav_color: #254d63;
    --nav_accent: white;
}

.quiz-start,
.quizzes {
    /* =================
    Theme 1: Muted Tones
    ====================*/
    --people_1: #edbeaf;
    --people_1_light: rgb(238, 214, 204);
    --people_1_bg: #f7ebe4;
    --people_1_acc: #d9e9f3;
    --people_1_shadow: #9bbeec;

    --location_2: #74a7be;
    --location_2_light: #9ec1d6;
    --location_2_bg: #d8e8f1;
    --location_2_acc: #f3ddd7;
    --location_2_shadow: #e7b8a9;

    --species_3: #8db8ad;
    --species_3_light: #b5cfca;
    --species_3_bg: #d3e6e2;
    --species_3_acc: #fdead1;
    --species_3_shadow: #fdcc9e;

    /* =================
    Theme 2: Vibrant Tones
    ====================*/
    // --people_1: #7681ff;
    // --people_1_light: #b3b9ff;
    // --people_1_bg: #d6d9fc;
    // --people_1_acc: #ffeadc;

    // --location_2: #ff9492;
    // --location_2_light: #ffc8c6;
    // --location_2_bg: #ffded7;
    // --location_2_acc: #ecffff;

    // --species_3: #68cad7;
    // --species_3_light: #b0e2e9;
    // --species_3_bg: #d3e9ec;
    // --species_3_acc: #dff7da;

    // --vehicle_4: #f8ac72;
    // --vehicle_4_light: #fcd9be;
    // --vehicle_4_bg: #ffebdc;
    // --vehicle_4_acc: #f5caca;
}

.people {
    --background: var(--people_1_bg);
    --quiz_acc: var(--people_1_acc);
    --quiz_light: var(--people_1_light);
    --quiz_dark: var(--people_1);
    --quiz_shadow: var(--people_1_shadow);
}
.locations {
    --background: var(--location_2_bg);
    --quiz_acc: var(--location_2_acc);
    --quiz_light: var(--location_2_light);
    --quiz_dark: var(--location_2);
    --quiz_shadow: var(--location_2_shadow);
}
.species {
    --background: var(--species_3_bg);
    --quiz_acc: var(--species_3_acc);
    --quiz_light: var(--species_3_light);
    --quiz_dark: var(--species_3);
    --quiz_shadow: var(--species_3_shadow);
}
