$pri-light: #2f789b;
$pri-dark: #254d63;

$light-yellow: rgba(#ffefb8, 0.5);
$light-blue: rgba(#dbf6fd, 0.6);

$yellow: #ffe385;

// css variables
:root,
.home {
    --nav_color: white;
    --nav_accent: #ffe385;

    --movie: #152c38;
}

.all-movies {
    --nav_color: #254d63;
    --nav_accent: #f8973c;
}

.detail {
    --nav_color: #254d63;
    --nav_accent: #ffe385;
}
