$pri-light: #2f789b;
$pri-dark: #254d63;

$light-yellow: rgba(#ffefb8, 0.5);
$light-blue: rgba(#dbf6fd, 0.6);

$v-light-yellow: #fffcf2;
$light-green: #89b47b;

$yellow: #ffe385;

// css variables
.App {
    --nav_color: black;
    --nav_accent: rgb(255, 147, 147);
}

.home {
    --nav_color: white;
    --nav_accent: #ffe385;
}

.all-movies {
    --nav_color: #254d63;
    --nav_accent: #ffb773;
}

.movie-details {
    --nav_color: #254d63;
    --nav_accent: #ffe385;
}

.movie {
    --theme: #152c38;
    --bg: white;
}

.watch-list {
    --nav_color: #254d63;
    --nav_accent: #6c8d4c;
}

.quizzes {
    --nav_color: #254d63;
    --nav_accent: salmon;

    //people
    --btn_3d_1: #7681ff;
    --btn_3d_1_acc: #b7bdff;
    //locations
    --btn_3d_2: #ff9492;
    --btn_3d_2_acc: #ffb0ae;
    //species
    --btn_3d_3: #68cad7;
    --btn_3d_3_acc: #b0e2e9;
    //vehicles
    --btn_3d_4: #f8ac72;
    --btn_3d_4_acc: #fcd9be;
}
